<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <style>
        body {width: 100%;
              height: 100%;
              background-color: #d4dada;
              color: #f39a2c;
             }
    </style>

</head>

<body ng-app="imoveis" ng-controller="imovelController">
    <div class="container">
        <form enctype="multipart/form-data" method="post" action="/">
            <div class="form-group">
                <label for="csv">Carregar arquivo CSV</label>
                <input type="file" class="form-control-file" id="csv" name="csv">
                <br/>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</body>

</html>